@font-face {
    font-family: "pixel";
    src: url("/public/font/pixellari/Pixellari.ttf");
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

body {
    background-image: url("/public/image/bg.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-wrapper {
    position: relative;
}

.cat {
    position: absolute;
    bottom: 380px;
    /* ��Ѻ������������ */
    left: 68%;
    transform: translateX(-50%) translateY(70%);
    width: 320px;
    transition: transform 0.5s;
    z-index: 1;
    /* ������ѧ login container */
}

.login-wrapper:hover .cat {
    /* ����Ѻ Y ��Ѻ�ҷ�� 0% ���ͤ�ҷ�����ŧ�������������˹�Ң���� */
    transform: translateX(-50%) translateY(43%);
}

.login-container {
    width: 380px;
    padding: 40px 30px;
    border-radius: 19px;
    background: white;
    box-shadow: 5px 5px 0px #f4a285, -5px -5px 0px #f4a285;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 2;
}

.welcome {
    margin-top: 10px;
    margin-bottom: 30px;
    color: orangered;
    font-family: "pixel", sans-serif;
    gap: 8px;
    text-shadow: 0 0 2px rgba(255, 87, 34, 0.5);
}

.heart {
    width: 40px;
    animation: pulse 1.2s infinite;
}

.input {
    width: 250px;
    margin-bottom: 20px;
}

.input input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

.input input:focus {
    border-color: #f4a285;
    box-shadow: 0 0 5px rgba(244, 162, 133, 0.5);
}

/* button */
.log-in-btn {
    width: 100%;
    padding: 12px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
    transition: background 0.3s;
    margin-bottom: 15px;
}

.log-in-btn:hover {
    background-color: #e58f6f;
}